/*

# home
!bin
bin/Software
!.nix-channels
!.fishrc
!.gitignore
!todo.md
!.gdbinit
!.gitconfig
!.xinitrc
!.zshrc
!readme.md
!.radare2rc
!.Xresources

# .config

!.config
.config/*

!.config/bspwm

# !.config/ckb-next
# !.config/ckb-next/*
# !.config/ckb-next/ckb-next.conf

!.config/conky
.config/conky/*
!.config/conky/conky.conf

!.config/fish
.config/fish/fishd.*

!.config/htop
.config/htop/*
!.config/htop/htoprc

!.config/mpd
.config/mpd/*
!.config/mpd/mpd.conf

!.config/mpv
.config/mpv/*
!.config/mpv/mpv.conf

!.config/nixos
!.config/nixpkgs

!.config/ncmpcpp
.config/ncmpcpp/*
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config

!.config/nvim
.config/nvim/colors/base16*

!.config/polybar

#!.config/qBittorrent
#.config/qBittorrent/*
#!.config/qBittorrent/qBittorrent.conf

!.config/ranger
.config/ranger/history
.config/ranger/tagged
.config/ranger/bookmarks
.config/ranger/commands_full.py


!.config/termite
.config/termite/*
!.config/termite/config

!.config/vis
.config/vis/*
!.config/vis/config

!.config/compton.conf
!.config/mimeapps.list
!.config/user-dirs.dirs

# .local/share/applications/

!.local
.local/*
!.local/share
.local/share/*

!.local/share/applications
.local/share/applications/*
!.local/share/applications/Mine
!.local/share/applications/wine
!.local/share/applications/Scripts

!.local/share/fonts
.local/share/fonts/.uuid

# !.local/share/nvim
# .local/share/nvim/*
# !.local/share/nvim/site
# .local/share/nvim/site/*
# !.local/share/nvim/site/autoload
# .local/share/nvim/site/autoload/*
# !.local/share/nvim/site/autoload/plug.vim

#!.local/share/peda
#.local/share/peda/*
#!.local/share/peda/lib
#.local/share/peda/lib/*
#!.local/share/peda/lib/config.py
