[Desktop Entry]
Type=Application
Version=12.4.2 Producer Edition
Name=FL Studio (x86)
GenericName=DAW
Comment=DAW
Exec=env WINEPREFIX=/home/alkeryn/App/wine/FLStudio wine App/wine/FLStudio/drive_c/Program\ Files\ \(x86\)/Image-Line/FL\ Studio/FL.exe --no-dwrite
