[Desktop Entry]
Name=Binary Ninja
Exec=sh -c "$HOME/.local/share/applications/Scripts/binaryninja"
Icon=binaryninja
Type=Application
Categories=Development;Debugger;Profiling;
