[Desktop Entry]
Type=Application
Version=1.0
Name=Poweroff
GenericName=Shutdown the computer
Comment=Shutdown
Icon=utilities-terminal
Exec=termite -e /home/alkeryn/bin/poweroff
