[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Icon=utilities-terminal
Hidden=true
Terminal=false
Exec=termite -e ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
